.banner-section {
  background-image: url("../img/hisarli-banner-dark.jpg");
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  color: #fff;
  padding: 50px 0;
}

.banner-large-font {
  font-size: 44px;
  line-height: 44px;
}

.banner-medium-font {
  font-size: 28px;
  line-height: 28px;
  margin: 24px 0;
}

.banner-small-font {
  font-size: 20px;
  line-height: 20px;
}
