html,
body {
  font-family: "Noto Sans", sans-serif;
}

.banner-section {
  background-image: url("../img/hisarli-banner-dark.jpg");
  background-size: cover;
  background-position: center 30%;
  background-repeat: no-repeat;
  color: #fff;
  padding: 52px 0;
}

.banner-large-font {
  font-size: 52px;
  line-height: 52px;
}

.banner-medium-font {
  font-size: 32px;
  line-height: 32px;
  margin: 32px 0;
}

.banner-small-font {
  font-size: 24px;
  line-height: 24px;
}

.p-truncated {
  opacity: 0;
  height: 0;
  margin: 0;
  line-height: 0;
  transition: all 300ms;
}

.p-truncated.visible {
  opacity: 1;
  height: auto;
  line-height: 24px;
  margin-bottom: 16px;
}

.sec-24-lr {
  padding: 0 24px;
}

.sec-24-lr.sec-0-r {
  padding-right: 0;
}

.mdl-grid.no-pad {
  padding: 0;
  margin: 0;
}

.mdl-grid.no-pad .mdl-cell {
  padding: 0;
  margin: 0;
}

.mdl-list.no-pad {
  padding: 0;
  margin: 0;
}

.mdl-list.no-pad.mr-16 {
  margin-right: 16px;
}

@media (max-width: 839px) {
  .mdl-list.no-pad.mr-16 {
    margin-right: 0;
  }
}

.mdl-list.no-pad .mdl-list__item {
  padding: 0;
  min-height: auto;
  margin-bottom: 16px;
}

a.a-footer-social {
  text-decoration: none;
  border: none;
  padding: 0;
}

a.a-footer-social > img {
  height: 36px;
}
