.custom-shape-divider-bottom-1623439955 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1623439955 svg {
    position: relative;
    display: block;
    width: calc(147% + 2px);
    height: 41px;
}

.custom-shape-divider-bottom-1623439955 .shape-fill {
    fill: #f2f4f7;
}

.custom-shape-divider-top-1623440107 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1623440107 svg {
    position: relative;
    display: block;
    width: calc(104% + 2px);
    height: 24px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1623440107 .shape-fill {
    fill: #f2f4f7;
}

.custom-shape-divider-bottom-1623440211 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1623440211 svg {
    position: relative;
    display: block;
    width: calc(100% + 2px);
    height: 49px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1623440211 .shape-fill {
    fill: #f2f4f7;
}
