.vscode/ftp-sync.json
**/.DS_Store
dbms/class.db.php
/.idea/dataSources.xml
/.idea/hisarli.iml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/php.xml
/.idea/deployment.xml
/.idea/webServers.xml
/tester.php
/texts.txt
/vendor/
/composer.json
/composer.lock
/composer.phar
/uploads/
